body{
	width: 100%;
	margin: auto;
}

.container{
	width: 960px;
	margin: auto;
}
.header{
	background: #6396bc;
	width: 100%;
	top: 0;
	position: fixed;
}

.logo{
	text-align: center;
	font-family: "Helvetica";
	font-size: 15px;
}
a{
	text-decoration: none;
	color: white;
}
li{
	list-style: none;
	float: left;
	margin: 20px;
	padding-top: 1px;
	padding-bottom: 1px;
	

}


html, body, .container{height: 100%}
body > .container{height: auto;min-height: 100%}
#footer {
 clear: both;
 position: relative;
 z-index: 10;
 height: 3em;
 margin-top: -3em;
}
.content { padding-bottom: 3em; }

